.card-img-top {
    background-color: #d3d3d36b;
    max-height: 9rem;
}
.card{
    margin: 0.5rem 0;
}
.card-body{
    margin-left: 1rem;
    line-height: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.card-name {
    font-weight: bold;
}
.card-text {
    font-size: small;
}
.card-text span {
    margin-left: 0.5rem;
}
.cardFooter{
    text-align: center;
    background-color: #d3d3d36b;
}
.cardFooter.row{
    margin:auto;
    padding: 0.1rem;
}